<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @accessory_point.title %>
</p>


<%= link_to 'Edit', edit_accessory_point_path(@accessory_point) %> |
<%= link_to 'Back', accessory_points_path %>
