/* page inspect */
::-webkit-scrollbar { width: 16px; }
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(238,238,238,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

/* macro classes */
.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }

html, body, #page { width: 100%; height: 100%; margin: 0px; padding: 0px; }
#header { 
  width: 100%;
  height: 10%; 
  background: rgba(220,220,220,0.3);
}

.frame {
  width: 25%;
  height: 100%;
}

.slide {
  width: 5%;
  height: 100%;
  &:hover { cursor: pointer; }
}

#frame-limit {
  width: 100%; 
  height: 90%;
  overflow: hidden;
}

#frame-container {
  width: 200%;
  height: 100%;
}

/* status */
#status-frame {
  overflow-y: scroll;
}

.status-item {
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
  &:hover { cursor: pointer; background-color: #eee; }
  .location { font-size: 8pt; color: #999; }
}

#newpost {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.newpost-type {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-right: none;
  &:hover { cursor: pointer; background-color: #aaa; color: #fff; }
}
#newpost-type-event {
  border-bottom: none;
}

#newpost-content {
  height: 73px;
  width: 87%;
}

.newpost-location-text {
  height: 24px;
  border: 1px solid #bbb;
  border-radius: 20px;
  margin: 10px 10px 5px 10px;
  padding: 0px 15px;
}

#newpost-submit {
  font-weight: 300;
  font-size: 10pt;
  padding: 6px 9px;
  border-radius: 6px;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
  border: 1px solid;
  border-color: #bbb #bbb #999;
}

.newpost-location-listitem {
  padding: 5px 20px;
  &:hover { cursor: pointer; }
}

